/**
 * CSS library: Text Limit
 * Free to use and edit with this doc
 * Contact me for help: progettialessandro@gmail.com
 */
.maxlength{position:relative;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.maxlength span{position:absolute;right:5px;top:0;text-align:right}.maxlength.afterTextarea{bottom:5px}.maxlength:not(.active){color:transparent}